{% extends "wcdb/default.html" %}

{% block content %}
<div class="row">
  <div class="span12">
    <h1>Bee Colony Collapse</h1>
    
    <dl class="dl-horizontal">
      <dt>Date &amp; Time</dt>
      <dd>6/34/230</dd>
      <dt>Location</dt>
      <dd>fill in!</dd>
      <dt>Kind</dt>
      <dd>fill in!</dd>
    </dl>

    <dl>
      <dt>Economic Impact</dt>
      <dd>Fill in!</dd>
      <dt>Human Impact</dt>
      <dd>Fill in!</dd>
      <dt>Rescources Needed</dt>
      <dd>Fill in!</dd>
      <dt>Ways to help</dt>
      <dd>Fill in!</dd>
    </dl>

    <dl>
      <dt>Citations</dt>
      <dd>Fill in!</dd>
      <dt>External Links</dt>
      <dd>Fill in!</dd>
    </dl>

  </div>
</div>
{% endblock content %}
