{% extends "wcdb/default.html" %}

{% block content %}
<h1>{{ name }}</h1>

<dl class="dl-horizontal">
	<dt>Date &amp; Time</dt>
    <dd>{{ date }}</dd>
    <dt>Location</dt>
    <dd>{{ location }}</dd>
    <dt>Kind</dt>
    <dd>{{ kind }}</dd>
    <dt>Organizations</dt>
    {% for org in org_list %}
	    <dd><a href="/orgs/{{ org.id }}">{{ org.name }}</a></dd>
    {% endfor %}
    <dt>People</dt>
    {% for people in people_list %}
	    <dd><a href="/people/{{ people.id }}">{{ people.name }}</a></dd>
    {% endfor %}
</dl>

<dl>
	<dt>Economic Impact</dt>
	{% for i in economic_impact_list %}
		<dd>{{ i }}</dd>
	{% endfor %}
	<dt>Human Impact</dt>
	{% for i in human_impact_list %}
		<dd>{{ i }}</dd>
	{% endfor %}
	<dt>Resources Needed</dt>
	{% for i in resources_needed_list %}
		<dd>{{ i }}</dd>
	{% endfor %}
	<dt>Ways to help</dt>
	{% for i in resources_needed_list %}
		<dd>{{ i }}</dd>
	{% endfor %}
</dl>

<div id="myCarousel" class="carousel slide">
	<div class="carousel-inner">
		<!-- NEED TO FIX THE ACTIVE ITEM PROBLEM!!! -->
		{% for i in img_list %}
			<div class="active item">
				<div class="inner-item">
					<img src="{{ i.href }}" alt="img not found">
					<div class="carousel-caption">
						<h4>{{ i.text }}</h4>
					</div>
				</div>
			</div>
		{% endfor %}
	</div>
	<a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
	<a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
</div>

{% for v in video_list %}
	<iframe width="940" height="600" src="{{ v.href }}" frameborder="0" allowfullscreen></iframe>
	<br><br>
{% endfor %}

<!-- Uhhh, maps requires more work -->
{% for map in map_list %}
{% endfor %}

<ul>
	{% for feed in feed_list %}
		<li><a href="{{ feed.href }}">{{ feed.name }}</a></li>
	{% endfor %}
</ul>

<ul>
	{% for citation in citation_list %}
		<li>{{ citation.text }}</a></li>
	{% endfor %}
</ul>

<ul>
	{% for link in external_link_list %}
		<li>{{ link.text }}</a></li>
	{% endfor %}
</ul>

{% endblock content %}
