{% extends "wcdb/default.html" %}

{% block content %}
<div class="row">
  <div class="span12">
    <h1>NSA Wiretapping</h1>

    <dl class="dl-horizontal">
      <dt>Date &amp; Time</dt>
      <dd>June 2013 - Present</dd>
      <dt>Location</dt>
      <dd>United States of America</dd>
      <dt>Kind</dt>
      <dd>Civil Liberties</dd>
      <dt>Organizations</dt>
      <dd><a href="http://www.nsa.gov/">National Security Agency</a></dd>
      <dd><a href="http://www.fightforthefuture.org/">Fight For The Future</a></dd>
      <dd><a href="http://www.restorethefourth.net/">Restore The Fourth</a></dd>
      <dd><a href="https://www.eff.org/">Electronic Frontier Foundation</a></dd>
      <dt>People</dt>
      <dd>Edward Snowden</dd>
      <dd>James Clapper</dd>
      <dd>Barack Obama</dd>
      <dd>Nicolas Maduro</dd>
    </dl>

    <dl>

      <dt>Economic Impact</dt>
      <dd>As a result of the United States Government's decision to implement an extensive surveillance program not only on its own citizens, but also on foreign allies, there has been significant damage to the USA's relations with other countries. As a result, relations between them have become strained, resulting in countries becoming less willing to encourage economic interactions with America. In addition, fear that the US government may be spying on them has led many European businesses and entities associated with European governments to drop or consider dropping American telecommunications service providers such as Verizon and AT&T.<sup><b>1</b></sup></dd>

      <dt>Human Impact</dt>
      <dd>By conducting massive surveillance operations over hundreds of millions of Americans and millions of others overseas and insisting that it has the right to do so whenever it feels American interests may be involved, the United States Government has violated the Fourth Amendment of the United States Constitution.<sup><b>2</b></sup> The willingness of Congress, the Executive Branch, and even the Courts to go along with this program bodes ill for the future of our civil liberties.<sup><b>3</b></sup> While it likely can be truthfully said that this surveillance program is not currently being abused to do things like shut down political opposition, the US Government has a history of doing such things in the past, and blindly trusting that such immense power would never be abused or wielded against the interests of the American people will not end well.</dd>

      <dt>Rescources Needed</dt>
      <dd>Money, Time, Effort, Passion, Awareness</dd>

      <dt>Ways to help</dt>

      <dd><dl>
        <dt>Join A Protest<dt>
          <dd><a href="http://www.restorethefourth.net/protests/">Join a Protest With <b>Restore The Fourth</b></a><dd>
      </dl></dd>

      <dd><dl>
        <dt>Donate Money To Organizations Fighting For Our Rights</dt>
        <dd><a href="https://donate.fightforthefuture.org/donate/fftf?amount=">Donate To <b>Fight For The Future</b></a></dd>
        <dd><a href="https://www.indiegogo.com/projects/restore-the-fourth-secure-your-privacy/contributions/new">Donate To <b>Restore The Fourth</b></a></dd>
        <dd><a href="https://supporters.eff.org/donate">Donate To <b>Electronic Frontier Foundation</b></a></dd>
      </dl></dd>

      <dd><dl>
        <dt>Contact Your Representative</dt>
        <dd><a href="http://cms.fightforthefuture.org/call-for-freedom/">Contact Your Representative Through <b>Fight For The Future</b></a></dd>
        <dd><a href="https://action.eff.org/o/9042/p/dia/action3/common/public/?action_KEY=9260">Contact Your Representative Through <b>Electronic Frontier Foundation</b></a></dd>
      </dl></dd>

    </dl>

    <div id="myCarousel" class="carousel slide">
      <div class="carousel-inner">
        <div class="active item">
          <div class="inner-item">
            <img src="http://media.salon.com/2013/06/aptopix-nsa-phone-records-big-data-photo-gallery.jpeg-620x412.jpg" alt="img not found">
            <div class="carousel-caption">
              <h4>NSA Supercomputers Storing and Mining Massive Quantities of Data</h4>
              <p></p>
            </div>
          </div>
        </div>
        <div class="item">
          <div class="inner-item">
            <img src="http://news.antiwar.com/wp-content/uploads/2012/07/nsahq.jpg" alt="img not found">
            <div class="carousel-caption">
              <h4>NSA Headquarters</h4>
              <p></p>
            </div>
          </div>
        </div>
        <div class="item">
          <div class="inner-item">
            <img src="http://static.guim.co.uk/sys-images/Guardian/Pix/pictures/2012/1/31/1328029813998/The-US-director-of-nation-007.jpg" alt="img not found">
            <div class="carousel-caption">
              <h4>Director of Intelligence for the United States of America</h4>
              <p>James Clapper</p>
            </div>
          </div>
        </div>
        <div class="item">
          <div class="inner-item">
            <img src="http://www.thedailysheeple.com/wp-content/uploads/2013/06/snowden.jpg" alt="img not found">
            <div class="carousel-caption">
              <h4>Edward Snowden</h4>
              <p>The man who leaked the details of the NSA's surveillance program being interviewed in Hong Kong</p>
            </div>
          </div>
        </div>
        <div class="item">
          <div class="inner-item">
            <img src="http://media.cagle.com/29/2013/06/07/132863_600.jpg" alt="img not found">
            <div class="carousel-caption">
              <h4></h4>
              <p>The government is always listening...</p>
            </div>
          </div>
        </div>
      </div>
      <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
      <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
    </div>

    <dl>
      <dt>Citations</dt>
      <ol>
      <li><small>Traynor, Ian. "European Firms 'Could Quit US Internet Providers Over NSA Scandal'". <u>The Guardian</u>. 4 July, 2013. Visited On: 7 July, 2013. http://www.guardian.co.uk/world/2013/jul/04/european-us-internet-providers-nsa</small></li>
      <li><small>Granick, Jennifer Stisa; Sprigman, Christopher Jon. "The Criminal N.S.A.". <u>The New York Times</u>. 27 June, 2013. Visited On: 7 July, 2013. http://www.nytimes.com/2013/06/28/opinion/the-criminal-nsa.html?pagewanted=all&_r=0</small></li>
      <li><small>Schuck, Peter H. "The Courts and National Security: A False Hope". <u>The Huffington Post</u>. 3 July, 2013. Visited On: 7 July, 2013. http://www.huffingtonpost.com/peter-h-schuck/national-security_b_3543312.html</small></li>
      </ol>

      <dt>More Information On The Situation</dt>
      <dd><a href="http://en.wikipedia.org/wiki/PRISM_(surveillance_program)">Wikipedia: PRISM</a></dd>
      <dd><a href="http://www.businessweek.com/news/2013-06-30/europe-shocked-as-spiegel-publishes-report-of-nsa-wiretapping">Business Week: Europe Shocked as Speigel Publishes Report of NSA Wiretapping</a></dd>
      <dd><a href="http://en.wikipedia.org/wiki/NSA_warrantless_surveillance_controversy">Wikipedia: Warrantless Surveillance Controversy</a></dd>
      <dd><a href="http://en.wikipedia.org/wiki/NSA_call_database">Wikipedia: NSA Call Database</a></dd>
      <dd><a href="http://www.huffingtonpost.com/peter-h-schuck/national-security_b_3543312.html">Huffington Post: The Courts and National Security</a></dd>
      <dd><a href="http://www.guardian.co.uk/world/2013/jun/06/nsa-phone-records-verizon-court-order">The Guardian: NSA Collecting Phone Records of Verizon Customers</a></dd>
      <dd><a href="http://www.washingtonpost.com/www.washingtonpost.com/investigations/us-intelligence-mining-data-from-nine-us-internet-companies-in-broad-secret-program/2013/06/06/3a0c0da8-cebf-11e2-8845-d970ccb04497_story.html">The Washington Post: US, British Intelligence Mining Data From US Internet Companies</a></dd>
      <dd><a href="https://www.eff.org/deeplinks/2012/08/ny-times-reminds-us-nsa-still-warrantlessly-wiretapping-americans-and-congress-has">EFF: NSA Warrantlessly Wiretapping</a></dd>
      <dd><a href="http://www.nytimes.com/2013/06/28/opinion/the-criminal-nsa.html?pagewanted=all&_r=0">New York Times: The Criminal NSA</a></dd>
      <dd><a href="http://www.guardian.co.uk/world/2013/jul/04/european-us-internet-providers-nsa">The Guardian: European Businesses Drop American Providers</a></dd>
    </dl>

  </div>
</div>
{% endblock content %}
