{% extends "wcdb/default.html" %}

{% block content %}
<div class="row">
  <div class="span12">
    <h1>Mexican Drug Violence</h1>

    <dl class="dl-horizontal">
      <dt>Date &amp; Time</dt>
      <dd>2006-</dd>
      <dt>Location</dt>
      <dd>Mexico, United States, Guatemala</dd>
      <dt>Kind</dt>
      <dd>Violent Conflict</dd>
      <dt>Organizations</dt>
      <dd>Mexican Government</dd>
      <dd>Sinaloa Cartel</dd>
      <dd>Los Zetas Cartel</dd>
      <dd>Gulf Cartel</dd>
      <dt>People</dt>
      <dd>Felipe Calderon</dd>
      <dd>Joaquín Guzmán Loera</dd>
      <dd>Heriberto Lazcano Lazcano</dd>
    </dl>

    <dl>
      <dt>Economic Impact</dt>
      <dd>1% reduction to economic growth each year [5]</dd>

      <dt>Human Impact</dt>
      <dd>More than 60,000 killed [1]</dd>
      <dd>230,000 displaced.  Half internally.  Half in US. [2]</dd>
      <dd>At least 106 US residents killed by April 2011 [3]</dd>
      <dd>Human trafficking, forced labor. [4]</dd>

      <dt>Resources Needed</dt>
      <dd>Decreased drug demand or increased supply</dd>

      <dt>Ways to help</dt>
      <dd>Legalize drugs</dd>
      <dd>Abstain from drugs</dd>
      <dd>Use drugs from local sources</dd>
    </dl>

    <div id="myCarousel" class="carousel slide">
      <div class="carousel-inner">
        <div class="active item">
          <div class="inner-item">
            <img src="http://media.salon.com/2013/06/aptopix-nsa-phone-records-big-data-photo-gallery.jpeg-620x412.jpg" alt="img not found">
            <div class="carousel-caption">
              <h4>fill in!</h4>
              <p>fill in!</p>
            </div>
          </div>
        </div>
        <div class="item">
          <div class="inner-item">
            <img src="http://twitter.github.io/bootstrap/assets/img/bootstrap-mdo-sfmoma-01.jpg" alt="img not found">
          </div>
        </div>
      </div>
      <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
      <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
    </div>

    <dl>
      <dt>Citations</dt>
      <dd>Fill in!</dd>
      <dt>External Links</dt>
      <dd>[1] <a href="http://www.bbc.co.uk/news/world-latin-america-10681249">BBC: death toll</a></dd>
      <dd>[2] <a href="http://www.borderlandbeat.com/2011/03/report-230000-displaced-by-mexicos-drug.html">Borderland Beat: displaced people</a></dd>
      <dd>[3] <a href="http://www.nbcnews.com/id/42232161/ns/us_news-crime_and_courts/t/more-will-die-mexico-drug-wars-claim-us-lives/#.UdiLBRX1Mak">NBC: US residents killed</a></dd>
      <dd>[4] <a href="http://www.state.gov/j/tip/rls/tiprpt/2012/192367.htm">US State Dept: Human Trafficking</a></dd>
      <dd>[5] <a href="http://www.bbc.co.uk/news/business-13120598">BBC: lost economic growth</a></dd>
    </dl>

  </div>
</div>
{% endblock content %}
