{% extends "wcdb/default.html" %}

{% block content %}
<div class="row">
  <div class="span12">
    <h1>Mexican Drug Violence</h1>

    <dl class="dl-horizontal">
      <dt>Date &amp; Time</dt>
      <dd>2006-</dd>
      <dt>Location</dt>
      <dd>Mexico, United States, Guatemala</dd>
      <dt>Kind</dt>
      <dd>Violent Conflict</dd>
      <dt>Organizations</dt>
      <dd>Mexican Government</dd>
      <dd>Sinaloa Cartel</dd>
      <dd>Los Zetas Cartel</dd>
      <dd>Gulf Cartel</dd>
      <dt>People</dt>
      <dd>Felipe Calderon</dd>
      <dd>Joaquín Guzmán Loera</dd>
      <dd>Heriberto Lazcano Lazcano</dd>
    </dl>

    <dl>
      <dt>Economic Impact</dt>
      <dd>Although the drug trade injects billions of dollars into the Mexican economy each year and employs many people, it is generally considered to be detrimental to the Mexican economy.  Mexico's economy has enjoyed strong growth during the conflict, but a 1% reduction to economic growth each year <sup><b>5</b></sup> and total economic losses of $4.3 billion dollars per year due to violence, lost investment, and drug use<sup><b>6</b></sup> are attributed to it.</dd> 

      <dt>Human Impact</dt>
      <dd>The Mexican drug war is not a conventional war, but with more than 60,000 killed in Mexico in the last several years<sup><b>1</b></sup> it has a high enough death toll to be one.
      At least 106 US residents killed by April 2011.<sup><b>3</b></sup>  
      An additional 230,000 people have been displaced, half internally and half in US. <sup><b>2</b></sup>  The US State Department considers Mexico to be a Tier 2 country for human trafficking.<sup><b>4</b></sup>  While not entirely responsible for the situation, drug cartels exacerbate it, both by directly by subjecting captives to forced labor and prostitution and through the general atmosphere of lawlessness.<sup><b>4</b></sup>  Central Americans make up a significant portion of the victims as they pass through Mexico on their way to the United States.<sup><b>4</b></sup></dd>

      <dt>Resources Needed</dt>
      <dd>Decreased drug demand or increased supply.</dd>
      <dd>An military/law enforcement solution is possible but very difficult.  It could be attempted with a heavy police or military presence throughout Mexico, an elimination of drug supply from South America, or an elimination of the illegal drug market in the United States.  A combination of all three would be effective but each would be difficult to achieve.</dd>

      <dt>Ways to help</dt>
      <dd>1. Legalize drugs.  Legalizing marijuana in California could reduce drug trafficking revenues by 20%.<sup><b>7</b></sup></dd>
      <dd>2. Abstain from drugs, reducing the demand for drug and as a consequence, the price of drugs, which is the incentive for the drug war.</dd>
      <dd>3. Use drugs from local sources.  Encouraging local drug production leads to increased drug supply reduces, which reduces the price.</dd>
    </dl>

    <div id="myCarousel" class="carousel slide">
      <div class="carousel-inner">
        <div class="active item">
          <div class="inner-item">
            <img src="http://4.bp.blogspot.com/-55oBz9ds3lk/TYkOZbYLQbI/AAAAAAAAAEU/X-APwSyyaqk/s1600/martin%2Bfigure%2B2.jpg" alt="img not found">
            <div class="carousel-caption">
              <h4>Mexican Drug Cartels</h4>
              <p></p>
            </div>
          </div>
        </div>
        <div class="item">
          <div class="inner-item">
            <img src="http://media.economist.com/sites/default/files/murders-2012.png?1353601636" alt="img not found">
            <div class="carousel-caption">
              <h4>Geographic Distribution of Drug Violence</h4>
              <p></p>
            </div>
          </div>
        </div>
        <div class="item">
          <div class="inner-item">
            <img src="http://www.google.com/url?q=https://upload.wikimedia.org/wikipedia/commons/f/f2/Perpetrators-Zetas.jpg&amp;usd=2&amp;usg=ALhdy28vFsU9ryNEKUW5G3mWeGHR8zyWIQ" alt="img not found">
            <div class="carousel-caption">
              <h4>Most Wanted of Mexican Drug Cartels</h4>
              <p></p>
            </div>
          </div>
        </div>
        <div class="item">
          <div class="inner-item">
            <img src="http://www.aljazeera.com/mritems/Images/2010/10/19/20101019201733824572_20.jpg" alt="img not found">
            <div class="carousel-caption">
              <h4>Siezed Drugs</h4>
              <p></p>
            </div>
          </div>
        </div>
        <div class="item">
          <div class="inner-item">
            <img src="http://cdn.theatlantic.com/static/mt/assets/international/las%20zetas%20banner.jpg" alt="img not found">
            <div class="carousel-caption">
              <h4>Siezed Guns</h4>
              <p></p>
            </div>
          </div>
        </div>
        <div class="item">
          <div class="inner-item">
            <img src="http://mcauleysworld.files.wordpress.com/2010/07/12765047921.jpg">
            <div class="carousel-caption">
              <h4>Victims of Mexican Cartels</h4>
              <p>Killed at drug rehab facility</p>
            </div>
          </div>
        </div>
        <div class="item">
          <div class="inner-item">
            <img src="http://static1.businessinsider.com/image/5065e7cceab8eaff04000020-480/map.jpg">
            <div class="carousel-caption">
              <h4>Distribution Routes</h4>
              <p></p>
            </div>
          </div>
        </div>
        <div class="item">
          <div class="inner-item">
            <img src="http://www.globalpost.com/sites/default/files/imagecache/use-with-caution_original/cartel_smuggling_routes.jpg">
            <div class="carousel-caption">
              <h4>Cartels, Sources</h4>
              <p></p>
            </div>
          </div>
        </div>
      </div>
      <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
      <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
    </div>

    <iframe width="940" height="600" src="//www.youtube.com/embed/Mn8hEoVYfyU" frameborder="0" allowfullscreen></iframe>
    <iframe width="940" height="600" src="//www.youtube.com/embed/H7a1-HXBCAU" frameborder="0" allowfullscreen></iframe>


    <dl>
      <dt>Citations</dt>
      <dd>Fill in!</dd>
      <dt>External Links</dt>
      <dd>[1] <a href="http://www.bbc.co.uk/news/world-latin-america-10681249">BBC: death toll</a></dd>
      <dd>[2] <a href="http://www.borderlandbeat.com/2011/03/report-230000-displaced-by-mexicos-drug.html">Borderland Beat: displaced people</a></dd>
      <dd>[3] <a href="http://www.nbcnews.com/id/42232161/ns/us_news-crime_and_courts/t/more-will-die-mexico-drug-wars-claim-us-lives/#.UdiLBRX1Mak">NBC: US residents killed</a></dd>
      <dd>[4] <a href="http://www.state.gov/j/tip/rls/tiprpt/2012/192367.htm">US State Dept: Human Trafficking</a></dd>
      <dd>[5] <a href="http://www.bbc.co.uk/news/business-13120598">BBC: lost economic growth</a></dd>
      <dd>[6] <a href="http://www.gov.harvard.edu/files/Rios2008_MexicanDrugMarket.pdf">Harvard: Annual economic losses</a></dd>
      <dd>[7] <a href="http://www.rand.org/news/press/2010/10/12.html">RAND: Marijuana</a></dd>
    </dl>

  </div>
</div>
{% endblock content %}
