{% extends "wcdb/default.html" %}

{% block content %}
<h1>{{ name }}</h1>

<dl class="dl-horizontal">
	<dt>Date &amp; Time</dt>
    <dd>{{ date }} : {{ time }}</dd>
    <dt>Location</dt>
    {% for loc in common.Locations %}
	    <dd>{{ loc.floating_text }}</dd>
    {% endfor %}
    <dt>Kind</dt>
    <dd>{{ kind }}</dd>
    <dt>Organizations</dt>
    {% for org in organizations %}
	    <dd><a href="/orgs/{{ org.0 }}">{{ org.1 }}</a></dd>
    {% endfor %}
    <dt>People</dt>
    {% for p in people %}
	    <dd><a href="/people/{{ p.0 }}">{{ p.1 }}</a></dd>
    {% endfor %}
</dl>

<dl>
	<dt>Economic Impact</dt>
	{% for i in common.EconomicImpact %}
		<dd>{{ i.floating_text }}</dd>
	{% endfor %}
	<dt>Human Impact</dt>
	{% for i in common.HumanImpact %}
		<dd>{{ i.floating_text }}</dd>
	{% endfor %}
	<dt>Resources Needed</dt>
	{% for i in common.ResourcesNeeded %}
		<dd>{{ i.floating_text }}</dd>
	{% endfor %}
	<dt>Ways to help</dt>
	{% for i in common.WaysToHelp %}
		<dd>{{ i.floating_text }}</dd>
	{% endfor %}
</dl>

{% for v in common.Videos %}
	<iframe width="940" height="600" src="{{ v.embed }}" frameborder="0" allowfullscreen></iframe>
	<br><br>
{% endfor %}

<!-- Uhhh, maps requires more work -->
{% for map in map_list %}
{% endfor %}

<ul>
	{% for feed in feed_list %}
		<li><a href="{{ feed.href }}">{{ feed.name }}</a></li>
	{% endfor %}
</ul>

<ul>
	{% for citation in citation_list %}
		<li>{{ citation.text }}</a></li>
	{% endfor %}
</ul>

<ul>
	{% for link in external_link_list %}
		<li>{{ link.text }}</a></li>
	{% endfor %}
</ul>

{% endblock content %}
