{% extends "wcdb/default.html" %}

{% block content %}
<link rel="stylesheet" type="text/css" href="/static/css/user-list.css"></link>



    <!-- Crises table -->
    <div class="row-fluid table">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th class="span4 sortable">
                        Crises
                    </th>
                    
                   
                </tr>
            </thead>
            <tbody>

            {% for kind in kinds %}            
                <dd><a href="/crisespage/{{ kind }}">{{ kind }}</a></dd>
            {% endfor %}

            {% for k, v in crisisIDs.items %}
            <!-- row -->
            <tr class="first">
                <td>
                    <img width="100" height="10" src='{{ v.1 }}' class="img-box" />
                    <a href="/crisis/{{ k }}">{{ v.0.name }}</a>
                    <span class="subtext">{{ v.2 }}</span>
                </td>
            {% empty %}
                    <li>IMPORT SOME DATA!</li>    
            {% endfor %} 
            </tr>
            </tbody>
        </table>
    </div>
    
    <!-- end users table -->

{% endblock content %}