{% extends "wcdb/default.html" %}

{% block content %}
<link rel="stylesheet" type="text/css" href="/static/css/user-list.css"></link>



    <!-- Crises table -->
    <div class="row-fluid table">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th class="span4 sortable">
                        Crises
                    </th>
                   
                </tr>
            </thead>
            <tbody>

        	{% for k, v in crisisIDs.items %}
            <!-- row -->
            <tr class="first">
                <td>
                    <img src="img/gallery1.jpg" class="img-circle avatar hidden-phone" />
                    <a href="/crisis/{{ k }}">{{ v }}</a>
                    
                </td>
            {% empty %}
					<li>IMPORT SOME DATA!</li>    
        	{% endfor %}   
            </tr>
            </tbody>
        </table>
    </div>
    
    <!-- end users table -->

{% endblock content %}