<html>
<head>
	<link rel="stylesheet" type="text/css" href="/users/cs373/pvc95/django.wsgi/static/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/users/cs373/pvc95/django.wsgi/static/css/style.css"></link>
	<script type="text/javascript" src="/users/cs373/pvc95/django.wsgi/static/js/jquery.js"></script>
	<script type="text/javascript" src="/users/cs373/pvc95/django.wsgi/static/bootstrap/js/bootstrap.min.js"></script>
</head>
<body>
	<div class="container">
		<div class="navbar">
			<div class="navbar-inner">
				<ul class="nav">
					<li><a href="/users/cs373/pvc95/django.wsgi">Home</a></li>
					<li><a href="/users/cs373/pvc95/django.wsgi/import">Import</a></li>
					<li><a href="/users/cs373/pvc95/django.wsgi/export">Export</a></li>
					<li><a href="/users/cs373/pvc95/django.wsgi/unittests">Unittests</a></li>
				</ul>
			</div>
		</div>
		{% block content %}
		{% endblock content %}
	</div>
</body>

</html>
