{% extends "wcdb/default.html" %}

{% block content %}
<h1>The A Team</h1>
<div>
	<ul>
		<li>Paul Carroll</li>
		<li>Shan R. Gupta</li>
		<li>Brandon Lee</li>
		<li>Eduardo Saenz</li>
		<li>Olga Saprycheva</li>
		<li>Shaelyn Watson</li>
	</ul>

	<div class="row">
		<div class="span4">
			<h2>Crises</h2>
			<ul>
				<li><a href="/static/pages/nsa.html">NSA Wiretapping</a></li>
				<li><a href="#">Mexican Drug War</a></li>
				<li><a href="#">Bee Colony Collapse</a></li>
			</ul>
		</div>
		<div class="span4">
			<h2>Organizations</h2>
			<ul>
				<li><a href="#">NSA</a></li>
				<li><a href="#">Sinaloa Cartel</a></li>
				<li><a href="#"></a></li>
			</ul>
		</div>
		<div class="span4">
			<h2>People</h2>
			<ul>
				<li><a href="#">Edward Snowden</a></li>
				<li><a href="#"></a></li>
				<li><a href="#"></a></li>
			</ul>
		</div>
	</div>

	<ul>
		<li><a href="#">import</a></li>
		<li><a href="#">export</a></li>
		<li><a href="#">unittest</a></li>
	</ul>

</div>
{% endblock content %}
