{% extends "wcdb/default.html" %}

{% block content %}
	<link rel="stylesheet" type="text/css" href="/static/css/user-list.css"></link>
	<!-- Members table -->
	<div class="row-fluid table">
		<div class="row-fluid header">
			<div class="span3">
			    <h1>The A Team</h1>
			</div>
			<div class="span6">
				<table class="table table-hover">
				    <thead>
				        <tr>
				            <th class="span4">
				                Name
				            </th>
				            <th class="span4">
				                <span class="line"></span>GitHub ID
				            </th>
				        </tr>
				    </thead>
				    <tbody>
				    <!-- row -->
				    <tr>
				        <td>
				            <img src="" class="img-circle avatar hidden-phone" />
				            Paul Carroll
				        </td>
				        <td>
				            <a href="https://github.com/pvcarroll">pvcarroll</a>
				        </td>
				    </tr>
				    <!-- row -->
				    <tr>
				        <td>
				            <img src="" class="img-circle avatar hidden-phone" />
				            Shan R. Gupta
				        </td>
				        <td>
				            <a href="https://github.com/shanrgupta">shanrgupta</a>
				        </td>
				    </tr>
				    <!-- row -->
				    <tr>
				        <td>
				            <img src="" class="img-circle avatar hidden-phone" />
				            Brandon Lee
				        </td>
				        <td>
				            <a href="https://github.com/bblee1002">bblee1002</a>
				        </td>
				    </tr>
				    <!-- row -->
				    <tr>
				        <td>
				            <img src="" class="img-circle avatar hidden-phone" />
				            Eduardo Saenz
				        </td>
				        <td>
				            <a href="https://github.com/eddies5/">eddies5</a>
				        </td>
				    </tr>
				    <!-- row -->
				    <tr>
				        <td>
				            <img src="" class="img-circle avatar" />
				            Olga Saprycheva
				        </td>
				        <td>
				            <a href="https://github.com/osaprych">osaprych</a>
				        </td>
				    </tr>
				    <!-- row -->
				    <tr>
				        <td>
				            <img src="" class="img-circle avatar" />
				            Shaelyn Watson
				        </td>
				        <td>
				            <a href="https://github.com/Shaelyn-Watson">Shaelyn-Watson</a>
				        </td>
				    </tr>
				    
				    </tbody>
				</table>
			</div>
		    
	    </div>
	</div>

	<div class="row">
		<div class="span4">
			<h2>Crises</h2>
			{% for k, v in crisisIDs.items %}
				<li><a href="/crisis/{{ k }}">{{ v }}</a></li>
			{% empty %}
				<li>IMPORT SOME DATA!</li>
			{% endfor %}
		</div>
		<div class="span4">
			<h2>Organizations</h2>
			{% for k, v in orgIDs.items %}
				<li><a href="/org/{{ k }}">{{ v }}</a></li>
			{% empty %}
				<li>IMPORT SOME DATA!</li>
			{% endfor %}
		</div>
		<div class="span4">
			<h2>People</h2>
			{% for k, v in peopleIDs.items %}
				<li><a href="/person/{{ k }}">{{ v }}</a></li>
			{% empty %}
				<li>IMPORT SOME DATA!</li>
			{% endfor %}
		</div>
	</div>
{% endblock content %}
