{% extends "wcdb/default.html" %}

{% block content %}
	<div class="row">
		<div class="span6">
			<h1>The A Team</h1>
			<ul>
				<li>Paul Carroll</li>
				<li>Shan R. Gupta</li>
				<li>Brandon Lee</li>
				<li>Eduardo Saenz</li>
				<li>Olga Saprycheva</li>
				<li>Shaelyn Watson</li>
			</ul>
		</div>
		<div class="span6">
		</div>
	</div>


	<div class="row">
		<div class="span4">
			<h2>Crises</h2>
			<ul>
				<li><a href="/crisis/1">NSA Wiretapping</a></li>
				<li><a href="/crisis/2">Mexican Drug War</a></li>
				<li><a href="/crisis/3">Bee Colony Collapse</a></li>
			</ul>
		</div>
		<div class="span4">
			<h2>Organizations</h2>
			<ul>
				<li><a href="/orgs/1">NSA</a></li>
				<li><a href="/orgs/2">Sinaloa Cartel</a></li>
				<li><a href="/orgs/3">EPA</a></li>
			</ul>
		</div>
		<div class="span4">
			<h2>People</h2>
			<ul>
				<li><a href="/people/1">Edward Snowden</a></li>
				<li><a href="/people/2">Joaquin Guzman Loera</a></li>
				<li><a href="/people/3">Tom Theobald</a></li>
			</ul>
		</div>
	</div>
{% endblock content %}
