{% extends "wcdb/default.html" %}

{% block content %}
<div class="row">
  <div class="span12">
    <h1>National Security Agency</h1>

    <dl class="dl-horizontal">
      <dt>Kind</dt>
      <dd>fill in!</dd>
      <dt>Location</dt>
      <dd>fill in!</dd>
    </dl>

    <dl>
      <dt>History</dt>
      <dd>Fill in!</dd>
      <dt>Contact info</dt>
      <dd>Fill in!</dd>
    </dl>

    <div id="myCarousel" class="carousel slide">
      <div class="carousel-inner">
        <div class="active item">
          <div class="inner-item">
            <img src="http://media.salon.com/2013/06/aptopix-nsa-phone-records-big-data-photo-gallery.jpeg-620x412.jpg" alt="img not found">
            <div class="carousel-caption">
              <h4>fill in!</h4>
              <p>fill in!</p>
            </div>
          </div>
        </div>
        <div class="item">
          <div class="inner-item">
            <img src="http://twitter.github.io/bootstrap/assets/img/bootstrap-mdo-sfmoma-01.jpg" alt="img not found">
          </div>
        </div>
      </div>
      <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
      <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
    </div>

    <dl>
      <dt>Citations</dt>
      <dd>Fill in!</dd>
      <dt>External Links</dt>
      <dd>Fill in!</dd>
    </dl>

  </div>
</div>
{% endblock content %}
