{% extends "wcdb/default.html" %}

{% block content %}
<div class="row">
  <div class="span12">
    <h1>Sinaloa Cartel</h1>
    
    <dl class="dl-horizontal">
      <dt>Kind</dt>
      <dd>Mexican Drug Cartel</dd>
      <dt>Location</dt>
      <dd>Mexico</dd>
      <dt>Crisis</dt>
	<dd><a href="/users/cs373/pvc95/django.wsgi/crisis/2">Mexican Drug War</a></dd>
      <dt>People</dt>
	<dd><a href="/users/cs373/pvc95/django.wsgi/people/2">Joaquin Guzman Loera</a></dd>
    </dl>

    <dl>
      <dt>History</dt>
      <dd>Founded in 1989, the Sinaloa Cartel has become the most powerful cartel in the last few years.<sup><b>2</b></sup> It's success has come in part from infiltrating and bribing Mexican officals and being less confrontational than other cartels.<sup><b>1</b></sup>  While minimizing direct conflict with the Mexican government, the Sinaloa Cartel is at war with rival cartels, including Los Zetas, and is a big part of the Mexican drug violence.</dd>
      <dd>Its leader is Joaquin Guzman Loera, Mexico's most wanted man.</dd>
      <dd>In addition to weed and cocaine, the Sinaloas control 80% of the US meth trade.<sup><b>3</b></sup></dd>
      <dt>Contact info</dt>
      <dd>Unknown</dd>
    </dl>

    <div id="myCarousel" class="carousel slide">
      <div class="carousel-inner">
        <div class="active item">
          <div class="inner-item">
            <img src="http://2.bp.blogspot.com/-SEX1xuXGPbI/Trd3ZI2kzfI/AAAAAAAAAAo/CO1HbEAs_vQ/s1600/chapovista5.jpg" alt="img not found">
            <div class="carousel-caption">
              <h4>Sinaloa</h4>
              <p></p>
            </div>
          </div>
        </div>
        <div class="item">
          <div class="inner-item">
            <img src="http://upload.wikimedia.org/wikipedia/commons/f/f0/Sinaloa_Cartel_Hierarchy.JPG" alt="img not found">
            <div class="carousel-caption">
              <h4>Sinaloa Heirarchy</h4>
              <p></p>
            </div>
          </div>
        </div>



      </div>
      <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
      <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
    </div>





    <iframe width="940" height="600" src="//www.youtube.com/embed/n8ReCrNOHJ8" frameborder="0" allowfullscreen></iframe>

    <iframe width="940" height="600" src="//www.youtube.com/embed/vFDVV1YxKuI" frameborder="0" allowfullscreen></iframe>

    <dl>
      <dt>Citations</dt>
      <dd>Fill in!</dd>
      <dt>External Links</dt>
      <dd>[1] <a href="http://www.npr.org/2010/05/19/126906809/mexico-seems-to-favor-sinaloa-cartel-in-drug-war">NPR: Sinaloa Strategy</a></dd>
      <dd>[2] <a href="http://articles.latimes.com/2011/jul/24/local/la-me-cartel-20110724">LATimes: Sinaloas Most Powerful Cartel</a></dd>
      <dd>[3] <a href="http://abcnews.go.com/ABC_Univision/News/chapo-guzman-controls-meth-trafficking-us-asia-study/story?id=18865196#.UduOkeHBKe4">ABC: Sinaloa meth</a></dd>
    </dl>
  </div>
</div>
{% endblock content %}
