{% extends "wcdb/default.html" %}

{% block content %}
<div class="row">
  <div class="span12">
    <h1>Sinaloa Cartel</h1>
    
    <dl class="dl-horizontal">
      <dt>Kind</dt>
      <dd>fill in!</dd>
      <dt>Location</dt>
      <dd>fill in!</dd>
    </dl>

    <dl>
      <dt>History</dt>
      <dd>Fill in!</dd>
      <dt>Contact info</dt>
      <dd>Fill in!</dd>
    </dl>

    <dl>
      <dt>Citations</dt>
      <dd>Fill in!</dd>
      <dt>External Links</dt>
      <dd>Fill in!</dd>
    </dl>
  </div>
</div>
{% endblock content %}
