{% extends "wcdb/default.html" %}

{% block content %}
<h1>{{ name }}</h1>

<dl class="dl-horizontal">
	<dt>Kind</dt>
    <dd>{{ kind }}</dd>
    <dt>Location</dt>
    <dd>{{ location }}</dd>
    <dt>Crises</dt>
    <!--<dd>{{ crises }}</dd>-->

    {% for c in crises %}
        <dd><a href="/crisis/{{ c.0 }}">{{ c.1 }}</a></dd>
    {% endfor %}
    <dt>People</dt>
    {% for p in people %}
        <dd><a href="/people/{{ p.0 }}">{{ p.1 }}</a></dd>
    {% endfor %}
</dl>

<dl>
    <dt>History</dt>
    {% for i in history_list %}
        <dd>{{ i }}</dd>
    {% endfor %}
    <dt>Contact</dt>
    {% for i in contact_list %}
        <dd>{{ i }}</dd>
    {% endfor %}
</dl>

<div id="myCarousel" class="carousel slide">
    <div class="carousel-inner">
        <!-- NEED TO FIX THE ACTIVE ITEM PROBLEM!!! -->
        {% for i in img_list %}
            <div class="active item">
                <div class="inner-item">
                    <img src="{{ i.href }}" alt="img not found">
                    <div class="carousel-caption">
                        <h4>{{ i.text }}</h4>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
    <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
</div>

{% for v in video_list %}
    <iframe width="940" height="600" src="{{ v.embed }}" frameborder="0" allowfullscreen></iframe>
    <br><br>
{% endfor %}

{% for map in map_list %}
    <iframe width="940" height="600" src="{{ map.embed }}" frameborder="0" allowfullscreen></iframe>
    <br><br>
{% endfor %}

<ul>
    {% for feed in feed_list %}
        <li><a href="{{ feed.href }}">{{ feed.name }}</a></li>
    {% endfor %}
</ul>

<ul>
    {% for citation in citation_list %}
        <li>{{ citation.text }}</a></li>
    {% endfor %}
</ul>

<ul>
    {% for link in external_link_list %}
        <li>{{ link.text }}</a></li>
    {% endfor %}
</ul>

{% endblock content %}