{% extends "wcdb/default.html" %}

{% block content %}
<link rel="stylesheet" type="text/css" href="/static/css/user-list.css"></link>


<div class="row-fluid profile">
    <!-- bio, new note & orders column -->
<div class="profile-box">
<div id="pad-wrapper" class="users-list">
    <!-- Org table -->
    <div class="row-fluid table">
        <table class="table table-hover">
            <thead>
                <tr>                  
                </tr>
            </thead>
            <tbody>

            <h3>Organization Kind Selector</h3>
            {% for kind in kinds %}            
                <dd><a href="/orgpage/{{ kind }}">{{ kind }}</a></dd>
            {% endfor %}

            <div class="row-fluid stats-row">
                <div class="span12 stat">        
                </div>                  
            </div>

            <h1>Selected Organizations</h1>
            <div class="row-fluid stats-row">
                <div class="span12 stat">        
                </div>                  
            </div>
            {% for k, v in orgIDs.items %}
            <!-- row -->
            <tr class="first">
                <td>
                    <img width="100" height="10" src='{{ v.1 }}' class="img-box" />
                    <a href="/orgs/{{ k }}">{{ v.0.name }}</a>
                    <span class="subtext">{{ v.2 }}</span>
                </td>
            {% empty %}
                    <li>IMPORT SOME DATA!</li>    
            {% endfor %}   
            </tr>
            </tbody>
        </table>
    </div>
</div>
</div>
</div>     
    <!-- end users table -->

{% endblock content %}