{% extends "wcdb/default.html" %}

{% block content %}
<div class="row">
  <div class="span12">
    <h1>Tom Theobald</h1>

    <dl class="dl-horizontal">
      <dt>Location/Contact info</dt>
      <dd>4802 Gatewood Dr, Colorado Springs, CO</dd>
      <dd>bkpr.tom@indra.com, 303.652.2266</dd>
      <dt>Kind</dt>
      <dd>Beekeeper and owner of the Niwot Honey Farm for 35 years.</dd>
      <dd>Founding member of the Boulder County Beekeepers’ Association.</dd>
      <dt>Crisis</dt>
      <dd><a href="/crisis/3">Bee Colony Collapse Disorder</a></dd>
      <dt>Organizations</dt>
      <dd><a href="/orgs/3">United States Environmental Protection Agency</a><a href="http://www.epa.gov/"><sub><font size="1"> [EPA Homepage]</font></sub></a></dd></dd>
      <dd><a href="/orgs/3">Boulder County Beekeepers’ Association</a><a href="http://www.bouldercountybeekeepers.org/"><sub><font size="1"> [BCBA Homepage]</font></sub></a></dd>
    </dl>

    <div id="myCarousel" class="carousel slide">
      <div class="carousel-inner">
        <div class="active item">
          <div class="inner-item">
            <img src="http://media.salon.com/2013/06/aptopix-nsa-phone-records-big-data-photo-gallery.jpeg-620x412.jpg" alt="img not found">
            <div class="carousel-caption">
              <h4>fill in!</h4>
              <p>fill in!</p>
            </div>
          </div>
        </div>
        <div class="item">
          <div class="inner-item">
            <img src="http://twitter.github.io/bootstrap/assets/img/bootstrap-mdo-sfmoma-01.jpg" alt="img not found">
          </div>
        </div>
      </div>
      <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
      <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
    </div>

    <iframe width="940" height="600" src="//www.youtube.com/embed/2zuJdY_Wrng" frameborder="0" allowfullscreen></iframe>
    <dd> </dd>
    <iframe width="940" height="600" src="//www.youtube.com/embed/grRdue1wG3M" frameborder="0" allowfullscreen></iframe>

    <br>
    <br>
    <div align="center">
    <iframe width="640" height="480" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?client=ubuntu&amp;channel=fs&amp;oe=utf-8&amp;q=4802+Gatewood+Dr,+Colorado+Springs,+CO+%E2%80%8E&amp;ie=UTF8&amp;hq=&amp;hnear=4802+Gatewood+Dr,+Colorado+Springs,+Colorado+80916&amp;gl=us&amp;t=h&amp;ll=38.800855,-104.739532&amp;spn=0.032107,0.054932&amp;z=14&amp;iwloc=A&amp;output=embed"></iframe><br /><small><a href="https://maps.google.com/maps?client=ubuntu&amp;channel=fs&amp;oe=utf-8&amp;q=4802+Gatewood+Dr,+Colorado+Springs,+CO+%E2%80%8E&amp;ie=UTF8&amp;hq=&amp;hnear=4802+Gatewood+Dr,+Colorado+Springs,+Colorado+80916&amp;gl=us&amp;t=h&amp;ll=38.800855,-104.739532&amp;spn=0.032107,0.054932&amp;z=14&amp;iwloc=A&amp;source=embed" align="middle" style="color:#0000FF;text-align:left">View Larger Map</a></small>
  </div>

    <dl>
      <dt>Citations</dt>
      <dd>Fill in!</dd>
      <dt>External Links</dt>
      <dd><a href="http://beyondpesticides.org/pollinators/Available%20for%20Interviews.pdf">Pollinators available for interviews</a></dd>
    </dl>

  </div>
</div>
{% endblock content %}
