{% extends "wcdb/default.html" %}

{% block content %}
<div class="row">
  <div class="span12">
    <h1>Rowan Jacobsen</h1>

    <dl class="dl-horizontal">
      <dt>Location/Contact info</dt>
      <dd>Vermont, US</dd>
      <dd>rowan [at] rowanjacobsen.com 802-456-0770</dd>
      <dt>Kind</dt>
      <dd>writer, author of the book Fruitless Fall: The Collapse of the Honey Bee and the Coming Agricultural Crisis</dd>
      <dt>Crisis</dt>
      <dd><a href="/crisis/3">Bee Colony Collapse Disorder</a></dd>
      <dt>Organizations</dt>
      <dd><a href="/orgs/3">United States Environmental Protection Agency</a></dd>
    </dl>

    <div id="myCarousel" class="carousel slide">
      <div class="carousel-inner">
        <div class="active item">
          <div class="inner-item">
            <img src="http://media.salon.com/2013/06/aptopix-nsa-phone-records-big-data-photo-gallery.jpeg-620x412.jpg" alt="img not found">
            <div class="carousel-caption">
              <h4>fill in!</h4>
              <p>fill in!</p>
            </div>
          </div>
        </div>
        <div class="item">
          <div class="inner-item">
            <img src="http://twitter.github.io/bootstrap/assets/img/bootstrap-mdo-sfmoma-01.jpg" alt="img not found">
          </div>
        </div>
      </div>
      <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
      <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
    </div>

    <dl>
      <dt>Citations</dt>
      <dd>Fill in!</dd>
      <dt>External Links</dt>
      <dd><a href="http://www.rowanjacobsen.com/">Rowan Jacobsen</a></dd>
      <dd><a href="http://www.time.com/time/arts/article/0,8599,1843823,00.html">Why We Should Care About Dying Bees</a></dd>
    </dl>

  </div>
</div>
{% endblock content %}
