{% extends "wcdb/default.html" %}

{% block content %}
<h1>{{ name }}</h1>

<dl class="dl-horizontal">
	<dt>Kind</dt>
    <dd>{{ kind }}</dd>
    <dt>Location</dt>
    <dd>{{ location }}</dd>
    <dt>Crises</dt>
    {% for c in crises %}
	    <dd><a href="/crisis/{{ c.0 }}">{{ c.1 }}</a></dd>
    {% endfor %}
    <dt>Organizations</dt>
    {% for org in organizations %}
	    <dd><a href="/orgs/{{ org.0 }}">{{ org.1 }}</a></dd>
    {% endfor %}
</dl>


{% for v in common.Videos %}
    <iframe width="940" height="600" src="{{ v.embed }}" frameborder="0" allowfullscreen></iframe>
    <br><br>
{% endfor %}


{% for map in common.Maps %}
    <iframe width="940" height="600" src="{{ map.embed }}" frameborder="0" allowfullscreen></iframe>
    <br><br>
{% endfor %}

{% if common.Feeds %}
    <dt>Feeds</dt>
{% endif %}
<ul>
    {% for feed in common.Feeds %}
        <li><a href="{{ feed.href }}">{{ feed.href }} </a>{{ feed.floating_text }}</li>
    {% endfor %}
</ul>

{% if common.Citations %}
    <dt>Citations</dt>
{% endif %}
<ul>
    {% for citation in common.Citations %}
        <li><a href="{{ citation.href }}">{{ citation.href }} </a>{{ citation.floating_text }}</li>
    {% endfor %}
</ul>

{% if common.ExternalLinks %}
    <dt>External Links</dt>
{% endif %}
<ul>
    {% for link in common.ExternalLinks %}
        <li><a href="{{ link.href }}">{{ link.href }} </a>{{ link.floating_text }}</li>
    {% endfor %}
</ul>

{% if common.Summary %}
    <dt>Summary</dt>
{% endif %}
<dd>{{ common.Summary }}</dd>

{% endblock content %}

