{% extends "wcdb/default.html" %}
{% block content %}
<h3>WCDB Search<h3>
<div class="row-fluid stats-row">
    <div class="span12 stat">        
    </div>                  
</div>
<h3>Search results for "{{ query }}" : <h3>

<div class="row-fluid stats-row">
    <div class="span12 stat">        
    </div>                  
</div>


{% for result in results %}
	{% if result.1 == "crisis" %}
		<dl><h5><strong><u><a href="/crisis/{{ result.0.idref }}">{{result.2}}</a></u></strong></h5></dl>
	{% endif %}
	{% if result.1 == "person" %}
		<dl><h5><strong><u><a href="/people/{{ result.0.idref }}">{{result.2}}</a></u></strong></h5></dl>
	{% endif %}
	{% if result.1 == "org" %}
		<dl><h5><strong><u><a href="/orgs/{{ result.0.idref }}">{{result.2}}</a></u></strong></h5></dl>
	{% endif %}
{% endfor %}


{% endblock content %}